
*{
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
}
body {
    font-family: "Cairo", sans-serif;
    background: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    flex-direction: row;
    
}

.rowx{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    
}
.s-b{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 90%;
    height: 70px;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background: #00000062;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
.s-b:hover{
    background: #00000088;
}
h4{
    color: #ffffff;
    display: flex;
    margin: 10px;
    

}

.player-container {

    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    background-position: center;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}





.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    user-select: none;
}


button {
    background-color: #1f1f1f4c;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 50px ;
    height: 50px ;
    cursor: pointer;
    outline: none;
    margin: 10px;
    transition: background-color 0.3s;
    user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

button:hover {
    background-color: #00000082;
}
header{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}



/* Slider Styling */
.slider {
    width: 100%;
    appearance: none;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
    user-select: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    backdrop-filter: blur(40px);
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.947);
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
    background: rgb(0, 0, 0);
}
.scroll{
    width: 100%;
    overflow-y: scroll;
    height: 80%;
    background: #0000001e;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    
}


@media (max-width:1024px){
    .row{
        
        flex-direction: column;
        align-items: center;
    
    }
    .player-container{

        justify-content: space-around;

    }
    .row{
        flex-direction: column;
    }
    button{
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
        margin: 10px;
    }
    h2{
        font-size: 15px;
    }
    img{
        margin-top: 35px;
    }
    .scroll{
        height: 100%;
    }

}